#contacto, #exportacion .logos, #exportacion, #productos .container-fluid .ajo3 .tituloajo3, #productos .container-fluid .ajo2 .tituloajo2, #productos .container-fluid .ajo1 .tituloajo1, #productos, #quienes-somos .videos, #quienes-somos .titulo2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#exportacion .imgexpo img, #productos .carrusel .carouselExampleControls .carousel-inner .carousel-item img, #productos .container-fluid .ajo3 div img, #productos .container-fluid .ajo2 div img, #productos .container-fluid .ajo1 div img, #quienes-somos .videos div img, #quienes-somos .imagenes div img {
  width: auto;
  height: 24vw;
  object-fit: cover;
}

#contacto .redes div a img, #exportacion .logos img {
  width: auto;
  height: 6vw;
  object-fit: cover;
}

#contacto, #exportacion .logos, #exportacion, #productos .container-fluid .ajo3 .tituloajo3, #productos .container-fluid .ajo2 .tituloajo2, #productos .container-fluid .ajo1 .tituloajo1, #productos, #quienes-somos .videos, #quienes-somos .titulo2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#exportacion .imgexpo img, #productos .carrusel .carouselExampleControls .carousel-inner .carousel-item img, #productos .container-fluid .ajo3 div img, #productos .container-fluid .ajo2 div img, #productos .container-fluid .ajo1 div img, #quienes-somos .videos div img, #quienes-somos .imagenes div img {
  width: auto;
  height: 24vw;
  object-fit: cover;
}

#contacto .redes div a img, #exportacion .logos img {
  width: auto;
  height: 6vw;
  object-fit: cover;
}

#contacto, #exportacion .logos, #exportacion, #productos .container-fluid .ajo3 .tituloajo3, #productos .container-fluid .ajo2 .tituloajo2, #productos .container-fluid .ajo1 .tituloajo1, #productos, #quienes-somos .videos, #quienes-somos .titulo2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#exportacion .imgexpo img, #productos .carrusel .carouselExampleControls .carousel-inner .carousel-item img, #productos .container-fluid .ajo3 div img, #productos .container-fluid .ajo2 div img, #productos .container-fluid .ajo1 div img, #quienes-somos .videos div img, #quienes-somos .imagenes div img {
  width: auto;
  height: 24vw;
  object-fit: cover;
}

#contacto .redes div a img, #exportacion .logos img {
  width: auto;
  height: 6vw;
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #231F20;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

header div {
  display: flex;
  justify-content: center;
  text-align: center;
  position: sticky;
  top: 0px;
}
header div nav {
  background-color: #231F20 !important;
}
header div nav div {
  background-color: #231F20;
}
header div nav div a {
  color: #FFFFFF;
  font-size: 2vw !important;
}
header div nav div div ul li a {
  margin: 2vw;
  color: #FFFFFF;
  font-size: 2vw !important;
}

#contacto, #exportacion .logos, #exportacion, #productos .container-fluid .ajo3 .tituloajo3, #productos .container-fluid .ajo2 .tituloajo2, #productos .container-fluid .ajo1 .tituloajo1, #productos, #quienes-somos .videos, #quienes-somos .titulo2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#exportacion .imgexpo img, #productos .carrusel .carouselExampleControls .carousel-inner .carousel-item img, #productos .container-fluid .ajo3 div img, #productos .container-fluid .ajo2 div img, #productos .container-fluid .ajo1 div img, #quienes-somos .videos div img, #quienes-somos .imagenes div img {
  width: auto;
  height: 24vw;
  object-fit: cover;
}

#contacto .redes div a img, #exportacion .logos img {
  width: auto;
  height: 6vw;
  object-fit: cover;
}

#quienes-somos {
  padding-top: 5vw;
  padding-bottom: 5vw;
}
#quienes-somos .titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#quienes-somos .titulo div {
  width: 70%;
}
#quienes-somos .titulo div h1 {
  font-size: 2vw;
  color: #FFFFFF;
}
#quienes-somos .imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
#quienes-somos .imagenes div {
  padding-top: 8vw;
}
#quienes-somos .titulo2 {
  text-align: center;
}
#quienes-somos .titulo2 div {
  padding-top: 8vw;
  width: 70%;
}
#quienes-somos .titulo2 div h2 {
  font-size: 1.9vw;
  color: #FFFFFF;
}
#quienes-somos .videos {
  text-align: center;
  flex-direction: row !important;
}
#quienes-somos .videos div {
  padding-top: 8vw;
  width: 70%;
}
#contacto, #exportacion .logos, #exportacion, #productos .container-fluid .ajo3 .tituloajo3, #productos .container-fluid .ajo2 .tituloajo2, #productos .container-fluid .ajo1 .tituloajo1, #productos, #quienes-somos .titulo2, #quienes-somos .videos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#exportacion .imgexpo img, #productos .carrusel .carouselExampleControls .carousel-inner .carousel-item img, #productos .container-fluid .ajo3 div img, #productos .container-fluid .ajo2 div img, #productos .container-fluid .ajo1 div img, #quienes-somos .imagenes div img, #quienes-somos .videos div img {
  width: auto;
  height: 24vw;
  object-fit: cover;
}

#contacto .redes div a img, #exportacion .logos img {
  width: auto;
  height: 6vw;
  object-fit: cover;
}

#productos .container-fluid .ajo1 .tituloajo1 h3 {
  font-size: 2vw;
  padding-top: 4vw;
  color: #FFFFFF;
}
#productos .container-fluid .ajo1 .tituloajo1 p {
  color: #FFFFFF;
  font-size: 1vw;
  padding-top: 3vw;
  width: 30vw;
}
#productos .container-fluid .ajo2 {
  padding-top: 5vw;
}
#productos .container-fluid .ajo2 .tituloajo2 h3 {
  font-size: 2vw;
  padding-top: 4vw;
  color: #FFFFFF;
}
#productos .container-fluid .ajo2 .tituloajo2 p {
  color: #FFFFFF;
  font-size: 1vw;
  padding-top: 3vw;
  width: 30vw;
}
#productos .container-fluid .ajo3 {
  padding-top: 5vw;
}
#productos .container-fluid .ajo3 .tituloajo3 h3 {
  font-size: 2vw;
  padding-top: 4vw;
  color: #FFFFFF;
}
#productos .container-fluid .ajo3 .tituloajo3 p {
  color: #FFFFFF;
  font-size: 1vw;
  padding-top: 3vw;
  width: 30vw;
  text-align: center;
}
#productos .carrusel {
  padding-top: 6vh;
}
#exportacion .expoh2 {
  padding-top: 5vw;
  width: 70%;
}
#exportacion .expoh2 h2 {
  color: #FFFFFF;
  font-size: 1.7vw;
}
#exportacion .logos {
  flex-direction: row;
  padding-top: 3vh;
  flex-wrap: wrap;
  width: 70%;
}
#exportacion .logos img {
  margin: 3vw;
}
#exportacion .imgexpo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#exportacion .imgexpo img {
  margin: 3vw;
}

#contacto .map {
  display: flex;
  word-wrap: wrap;
  flex-direction: column;
  width: 70%;
}
#contacto .map p {
  color: #FFFFFF;
  font-size: 1.5vw;
}
#contacto .map div {
  padding-top: 3vw;
}
#contacto .map div iframe {
  min-height: 20vw;
  object-fit: cover;
}
#contacto .redes p {
  padding-top: 3vw;
  color: #FFFFFF;
  font-size: 1.5vw;
}
#contacto .redes div {
  display: flex;
  word-wrap: wrap;
}
#contacto .redes div a img {
  margin: 3vw;
}

footer {
  background-color: #FFFFFF;
}
footer h4 {
  text-align: center;
  font-size: 1vw;
}

/*# sourceMappingURL=style.css.map */
