// base
@import 'base/extends';
@import 'base/listas';
@import 'base/variables';

// componentes
@import 'components/inicio';
@import 'components/quienes-somos';
@import 'components/productos';
@import 'components/exportacion';
@import 'components/contacto';

footer{
    background-color: nth($colores, 2 );
    h4{
        text-align: center;
        font-size: 1vw;
    }
}