@import '../base/variables';
@import '../base/extends';
@import '../base/variables';
@import '../base/listas';
@import '../base/extends';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-color: nth($colores , 1);
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}


header{
    img{
    }
    div{
        display: flex;
        justify-content: center;
        text-align: center;
        position: sticky;
        top: 0px;
        nav{
            background-color: $bg-color-general !important;
            div{
             background-color: $bg-color-general;
                a{
                color: $color-text-withe;
                font-size: 2vw !important;
                }
                button{
                }
                div{
                    ul{
                        li{
                            a{
                                margin: 2vw;
                                color: $color-text-withe;
                                font-size: 2vw !important;
                            }
                        }
                    }
                }
            }
        }
    }
} 
