@import '../base/variables';
@import '../base/extends';

// Header
header{
    img{
    }
    nav{
        background-color: $bg-color-general !important;
        div{
            background-color: $bg-color-general;
            a{
                color: $color-text-withe;
                font-size: 2rem !important;
            }
            button{
            }
            div{
                ul{
                    li{
                        a{
                            color: $color-text-withe;
                            font-size: 2rem !important;
                        }
                    }
                }
            }
        }
    }  
}