@import '../base/variables';
@import '../base/extends';

// Header
header{
    img{
    }
    div{
        display: flex;
        justify-content: center;
        nav{
            background-color: $bg-color-general !important;
            div{
                background-color: $bg-color-general;
                a{
                    color: $color-text-withe;
                    font-size: 3rem !important;
                }
                button{
                }
                div{
                    ul{
                        li{
                            a{
                                color: $color-text-withe;
                                font-size: 3rem !important;
                            }
                        }
                    }
                }
            }
        } 
    }
}