@import '../base/variables';
@import '../base/listas';
@import '../base/extends';

#productos{
    @extend %center;
    .container-fluid{
        .ajo1{
            div{
                img{
                    @extend %img;
                }
            }
            .tituloajo1{
                @extend %center;
                h3{
                    font-size: 2vw;
                    padding-top: 4vw;
                    color: nth($colores,2 );
                }
                p{
                    color: nth($colores,2 );
                    font-size: 1vw;
                    padding-top: 3vw;
                    width: 30vw;
                }
            }
        }
        .ajo2{
            padding-top: 5vw;
            .tituloajo2{
                @extend %center;
                h3{
                    font-size: 2vw;
                    padding-top: 4vw;
                    color: nth($colores, 2 );
                }
                p{
                    color: nth($colores, 2 );
                    font-size: 1vw;
                    padding-top: 3vw;
                    width: 30vw;
                }
            }
            div{
                img{
                    @extend %img;
                }
            }
        }
        .ajo3{
            padding-top: 5vw;
            div{
                img{
                    @extend %img;
                }
            }
            .tituloajo3{
                @extend %center;
                h3{
                    font-size: 2vw;
                    padding-top: 4vw;
                    color: nth($colores,2 );
                }
                p{
                    color: nth($colores,2 );
                    font-size: 1vw;
                    padding-top: 3vw;
                    width: 30vw;
                    text-align: center;
                }
            }    
        }
    }
    .carrusel{
        padding-top: 6vh;
        .carouselExampleControls{
            .carousel-inner{
                .carousel-item{
                    img{
                        @extend %img;
                    }
                }

            }
            button{
                span{

                }
                span{

                }

            }

        }

    }
}