@import '../base/variables';
@import '../base/listas';
@import '../base/extends';



#quienes-somos{
    padding-top: 5vw;
    padding-bottom: 5vw;
    .titulo{
        h1{
            font-size: 2vw;
            color: nth($colores, 2 );
        }
    }
}