

%center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

%img {
    width: auto;
    height: 24vw;
    object-fit: cover;
}

%logos{
    width: auto;
    height: 14vw;
    object-fit: cover;
}


